# --- Rust ---
/target/
# Garde Cargo.lock si c'est une application, ignore-le si c'est une lib
# Cargo.lock 

# --- Configuration locale (Interdit le push de tes réglages PC) ---
.cargo/config.toml
.cargo/credentials.toml

# --- Flatpak & Build ---
.flatpak-builder/
fb-build/
_build/

# --- Artefacts OS & Editeurs ---
.DS_Store
Thumbs.db
*.swp
*~
.vscode/
.idea/

