[Desktop Entry]
Type=Application
Version=1.0
Name=RustCalc
Comment=Calculatrice moderne en Rust
Exec=rustcalc
Icon=rustcalc
Terminal=false
Categories=Utility;Calculator;
